.container2 {
    width: 500px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    .title {
        font-size: 45px;
        font-family: "Comic Sans MS", sans-serif;
        text-shadow: 1px 1px 1px black;
        color: orange;
    }
    .subtitle {
        font-size: 13px;
    }
}
